In [1]:
import numpy as np
from sympy.utilities.iterables import multiset_permutations
import time
import pandas as pd
import gurobipy as grb
import datetime
import random
np.set_printoptions(edgeitems=15,linewidth=600)

%load_ext autoreload
%autoreload 2
import sys
import os
sys.path.append(os.path.join(os.getcwd(), '..'))
from src.optimization.MIP.mip_inputs import *
from src.optimization.MIP.mip_model import *
from src.optimization.MIP.mip_outputs import *

In [2]:
start = time.time()

### Model Inputs

In [3]:
UI_params = {
    'initial_procurement_budget':1300000,
    'procurement_budget_rate':0.03,
    'initial_operations_budget':1000000,
    'maintenance_budget_rate':0.03,
    'planning_interval':[2022,2037],
    'emissions_baseline': 2031705,#metric tons
    'emissions_target_pct_of_base':1.0,
    'min_miles_replacement_threshold':150000,#miles
    'min_vehicle_age_replacement_threshold':60,#years
    'max_vehicles_per_station':1000,
    'objective_weights':{'cost':0.70,'emissions':0.30},
}

In [4]:
data = pd.read_excel('../data/17MAR_data_template.xlsx').head(500)
data['current_age'] = datetime.datetime.now().year - pd.to_datetime(data.purchasedate).dt.year
data = data.reset_index().rename({"index":"vehicle_idx"},axis=1)
data['county'] = 'Baltimore County'
data = data.drop_duplicates('equipmentid')

In [5]:
inputs = MIP_Inputs(data,UI_params)

In [6]:
outputs = MIP_Outputs(data,UI_params)
print("--- %s seconds ---" % (time.time() - start))

Using license file C:\Users\elynch\gurobi.lic
Academic license - for non-commercial use only
Changed value of parameter PoolSearchMode to 2
   Prev: 0  Min: 0  Max: 2  Default: 0
Changed value of parameter PoolSolutions to 500
   Prev: 10  Min: 1  Max: 2000000000  Default: 10
Changed value of parameter TimeLimit to 30.0
   Prev: inf  Min: 0.0  Max: inf  Default: inf
Gurobi Optimizer version 9.0.3 build v9.0.3rc0 (win64)
Optimize a model with 533 rows, 33017 columns and 620826 nonzeros
Model fingerprint: 0x2cc2171b
Variable types: 2 continuous, 33015 integer (33015 binary)
Coefficient statistics:
  Matrix range     [1e+00, 2e+05]
  Objective range  [2e+02, 1e+06]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+06]
Found heuristic solution: objective 3.688203e+12
Presolve removed 15 rows and 0 columns
Presolve time: 0.17s
Presolved: 518 rows, 33017 columns, 157771 nonzeros
Variable types: 2 continuous, 33015 integer (33015 binary)
Found heuristic solution: objective 6196708.0000

Root relaxation: objective 3.518138e+06, 3564 iterations, 0.13 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 3518138.50    0   32 6196708.00 3518138.50  43.2%     -    0s
H    0     0                    3591434.7000 3518138.50  2.04%     -    0s
H    0     0                    3555816.6000 3518138.50  1.06%     -    0s
H    0     0                    3522051.4000 3518138.50  0.11%     -    1s
H    0     0                    3521196.7000 3518138.50  0.09%     -    2s
     0     0 3518175.41    0   46 3521196.70 3518175.41  0.09%     -    2s
H    0     0                    3520961.5000 3518175.41  0.08%     -    2s
     0     0 3518273.60    0   52 3520961.50 3518273.60  0.08%     -    2s
     0     0 3518295.54    0   58 3520961.50 3518295.54  0.08%     -    2s
     0     0 3518295.85    0   58 3520961.50 3518295.85  0.08%     -    2s
     0     0 3518304.78    0   72 3520961.50 3518304.78  0.08%     -    2s
     0     0 3518308.18    0   78 3520961.50 3518308.18  0.08%     -    2s
     0     0 3518310.38    0   86 3520961.50 3518310.38  0.08%     -    2s
     0     0 3518311.20    0   90 3520961.50 3518311.20  0.08%     -    2s
     0     0 3518313.63    0   86 3520961.50 3518313.63  0.08%     -    2s
     0     0 3518313.63    0   86 3520961.50 3518313.63  0.08%     -    3s
H    0     0                    3519749.1000 3518313.63  0.04%     -    4s
H    0     0                    3519709.2000 3518313.63  0.04%     -    5s
     0     2 3518374.50    0   86 3519709.20 3518374.50  0.04%     -    6s
H   31    38                    3519691.7000 3518374.50  0.04%  15.1    8s
H   32    38                    3519681.9000 3518374.50  0.04%  14.8    8s
   280   656 3518374.50   33   61 3519681.90 3518374.50  0.04%   5.9   10s
  2446  2968 3520157.65  326   50 3519681.90 3518374.50  0.04%   4.5   15s
  3352  3871 3522672.31  453   41 3519681.90 3518374.50  0.04%   4.5   20s
  5528  6113 3523206.85  733   42 3519681.90 3518374.50  0.04%   3.9   25s
H 6341  6623                    3519681.2000 3518374.50  0.04%   3.7   27s

Cutting planes:
  Gomory: 1
  MIR: 4
  Flow cover: 1
  RLT: 7

Explored 6625 nodes (31337 simplex iterations) in 30.03 seconds
Thread count was 12 (of 12 available processors)

Solution count 42: 3.51968e+06 3.51968e+06 3.51969e+06 ... 2.30519e+13

Time limit reached
Best objective 3.519681200000e+06, best bound 3.518374504445e+06, gap 0.0371%

In [8]:
optimal_obj,optimal_solution = outputs.get_optimal_solution()

In [9]:
alt_solutions = outputs.get_alternative_solutions()
selected_alternative_solutions = outputs.select_alternative_solutions(alt_solutions,optimal_obj)

In [15]:
options = selected_alternative_solutions

In [16]:
option1 = pd.DataFrame(options[0,'schedules'],columns=['vehicle_idx','solution_idx']+inputs.years)

In [17]:
data = data.merge(option1,on='vehicle_idx',how='left')

In [18]:
data.groupby(['county'])[inputs.years].sum().replace({0:''})

,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037
county,,,,,,,,,,,,,,,,
Baltimore County,31,32,30,33,30,33,27,33,33,28,25,24,26,15,20,18

In [19]:
data.groupby(['dept_name'])[inputs.years].sum().replace({0:''})

,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037
dept_name,,,,,,,,,,,,,,,,
Baltimore County Department of Library,,,,,,1,,,,,,,,,,
Board of Election Supervisors,,,,,,,,,,,1,,,,,
Bureau of Corrections,,,,,1,,,1,1,2,,,2,,,1
Cigarette Restoration/Tobacco Program,,,,,,,,,,,,1,,,,
Community Planning,,,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Property Management - Grounds and Rec Maintenance,,,,,1,2,,,,2,1,,,,,1
Recreation and Parks (Opns./Maintnenance),,,,,,,,,,,,,,,,1
Recreation and Parks (Recreation Services),,,,,,,,,,,,,,,,
State's Attorney,,,,,,,,,,,,,,,,1
Vehicle Operations and Maintenance,,,,,,,,,,,,1,,,,

In [20]:
data.groupby(['dept_name','vehicledescription'])[inputs.years].sum().replace({0:''})

                                                                           2022  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2023  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2024  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2025  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2026  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'    1
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2027  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'               1
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2028  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2029  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2030  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2031  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2032  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'           1
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2033  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'                1
                                           2009 FORD ROLLBACK'

                                                                           2034  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'                1
                                           2005 FORD CROWN VICTORIA'          1
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2035  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2036  \
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

                                                                           2037
dept_name                                  vehicledescription
Baltimore County Department of Library     2002 FORD VAN CARGO'
Board of Election Supervisors              2008 CHEVROLET UPLANDER'
Bureau of Corrections                      2001 GMC VAN 12PSG'
                                           2005 FORD CROWN VICTORIA'
                                           2006 CHEVROLET VAN,PRISONER TP'
...                                                                         ...
Recreation and Parks (Recreation Services) 2001 GMC VAN CARGO'
State's Attorney                           2006 CHEVROLET COBALT'             1
Vehicle Operations and Maintenance         2005 FORD WRECKER'
                                           2007 DODGE Caravan'
                                           2009 FORD ROLLBACK'

[235 rows x 16 columns]

In [21]:
data.groupby(['equipmentid'])[inputs.years].sum().replace({0:''})

,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037
equipmentid,,,,,,,,,,,,,,,,
24399.0,,,,,,,,,1,,,,,,,
26142.0,,,,,,1,,,,,,,,,,
26145.0,,,,,,,,,,,1,,,,,
26521.0,,,,,,,,,,,,,1,,,
26526.0,,,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30601.0,,,1,,,,,,,,,,,,,
30602.0,,,,,,,,1,,,,,,,,
30606.0,,,,,,,,1,,,,,,,,
30608.0,,,,,,1,,,,,,,,,,
30609.0,,,,,,,,,,,,,1,,,

In [22]:
print('   acquisition_costs')
pd.DataFrame(pd.DataFrame(options[0,'acquisition_costs'],columns=['vehicle_idx','solution_idx']+inputs.years)[inputs.years].sum()).T.astype(int)

   acquisition_costs

,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037
0,1296500,1289600,1280000,1298000,1296600,1297400,1282700,1266000,1279300,1280500,1272500,1265500,1272000,1286900,1285100,1293600

In [23]:
print('   consumables_costs')
pd.DataFrame(pd.DataFrame(options[0,'consumables_costs'],columns=['vehicle_idx','solution_idx']+inputs.years)[inputs.years].sum()).T.astype(int)

   consumables_costs

,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037
0,491910,455916,412953,384196,356058,336812,317503,298677,288414,275136,260717,248817,246031,238522,227718,221653

In [24]:
print('   mx_costs')
pd.DataFrame(pd.DataFrame(options[0,'mx_costs'],columns=['vehicle_idx','solution_idx']+inputs.years)[inputs.years].sum()).T.astype(int)

   mx_costs

,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037
0,472800,477200,478200,482400,495200,492600,499600,494400,495000,489200,485800,488400,479000,472000,461600,459200

In [25]:
print('   emissions_amts')
pd.DataFrame(pd.DataFrame(options[0,'emissions_amts'],columns=['vehicle_idx','solution_idx']+inputs.years)[inputs.years].sum()).T.astype(int)

   emissions_amts

,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037
0,490655,441179,384199,339796,297157,265270,232288,204827,186017,165074,145235,119966,104343,86937,65073,52049

In [26]:
print('   EV/Hybrid Inventory')
pd.DataFrame(pd.DataFrame(options[0,'conversions'],columns=['vehicle_idx','solution_idx']+inputs.years)[inputs.years].sum()).T.astype(int)

   EV/Hybrid Inventory

,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037
0,31,63,93,126,156,189,216,249,282,309,334,357,383,398,417,432